<section class="contacts">
  <div class="container">
    <div class="contacts__body">
      <div class="contacts__row">
        <div class="contacts__info info">
          <h2>Контакты</h2>
          <p> Адрес офиса:
            <span class="info__locathion">
              Киев, ул. Крещатик, офис 34
            </span>
          </p>
          <div class="info__map">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.8468647811187!2d30.51814531600745!3d50.443952979474474!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce56094d696b%3A0x2eec283b33169e54!2z0YPQuy4g0JrRgNC10YnQsNGC0LjQuiwgNDQsINCa0LjQtdCyLCAwMjAwMA!5e0!3m2!1sru!2sua!4v1596555134970!5m2!1sru!2sua"
              width="600" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
              tabindex="0">
            </iframe>
          </div>
          <p> Номер телефона:
            <span class="info__phone">
              +7 495 771 05 08
            </span>
          </p>
          <p>
            E-mail:
            <span>
              <a href="mailto:none@gmail.com" class="info__link">order@gipsolit.ru</a>
            </span>
          </p>
          <p> Реквизиты:
            <span class="info__money">
              ИНН 35453453 ОГРН 322256773
            </span>
          </p>
        </div>
        <div class="contacts__form write">
          <h2>
            Оставьте контактные данные <br> для связи
          </h2>
          <form action="#" class="write__form action-form">
            <label for="name">Ваше имя</label>
            <input type="text" name="name">
            <label for="phone">Номер телефона</label>
            <input type="tel" name="phone">
            <label for="email"> Email </label>
            <input type="email" name="email">
            <label for="text">Сообщение</label>
            <textarea type="text" name="text" class="write__area"></textarea>
            <button class="write__btn btn">
              Записаться на просмотр
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
