<section class="materials">
  <div class="container">
    <div class="materials__title title">
      <h2>
        Материалы
      </h2>
      <p>
        Мы работаем только качественными, проверенными временем материалами, следующих производителей:
      </p>
    </div>
    <div class="materials__content">
      <div class="materials__row">
        <div class="materials__column sale">
          <div class="sale__images sale__images_one"></div>
          <div class="sale__content">
            <h2 class="sale__headding">Knauf</h2>
            <p class="sale__subscribe">МП-75 <strong>245</strong> руб/меш</p>
          </div>
          <a href="#" class="sale__sertificate">Сертификат</a>
        </div>
        <div class="materials__column sale">
          <div class="sale__images sale__images_two"></div>
          <div class="sale__content">
            <div class="sale__content">
              <h2 class="sale__headding">Volma</h2>
              <p class="sale__subscribe">Аква слой <strong>245</strong> руб/меш <br> Гипс актив <strong>245</strong>
                руб/меш</p>
            </div>
          </div>
          <a href="#" class="sale__sertificate">Сертификат</a>
        </div>
        <div class="materials__column sale">
          <div class="sale__images sale__images_three"></div>
          <div class="sale__content">
            <h2 class="sale__headding">Forman</h2>
            <p class="sale__subscribe">Аква слой <strong>245</strong> руб/меш <br> Гипс актив <strong>245</strong>
              руб/меш
            </p>
          </div>
          <a href="#" class="sale__sertificate">Сертификат</a>
        </div>
        <div class="materials__column sale">
          <div class="sale__images sale__images_four"></div>
          <div class="sale__content">
            <h2 class="sale__headding">Ceresit</h2>
            <p class="sale__subscribe">Аква слой <strong>245</strong> руб/меш <br> Гипс актив <strong>245</strong>
              руб/меш
            </p>
          </div>
          <a href="#" class="sale__sertificate">Сертификат</a>
        </div>
      </div>
    </div>
    <div class="materials__order">
      <p>
        Вы можете приобрести материалы по оптовым ценам на сайте <a href="#">gicema.ru</a> или по телефону <span>+7 495
          790 69 90</span>
      </p>
    </div>
  </div>
</section>
