<section class="inclusive">
  <div class="container">
    <div class="inclusive__title title">
      <h2>
        Все на 100% включено!
      </h2>
      <p>
        При выполнении работ с нашим материалом в стоимость входит:
      </p>
    </div>
    <div class="inclusive__content">
      <div class="inclusive__row">
        <div class="inclusive__column">
          <div class="inclusive__box">
            <span class="inclusive__circle-border">
              <span class="inclusive__circle">
                1.
              </span>
            </span>
          </div>
          <div class="inclusive__text">
            <h4>Материал:</h4>
            <p>штукатурка, грунтовка или бетоноконтакт, маяки, сетка на стыки</p>
          </div>
        </div>
        <div class="inclusive__column">
          <div class="inclusive__box">
            <span class="inclusive__circle-border">
              <span class="inclusive__circle">
                2.
              </span>
            </span>
          </div>
          <div class="inclusive__text">
            <h4>Доставка оборудования и материала на объект</h4>
          </div>
        </div>
        <div class="inclusive__column">
          <div class="inclusive__box">
            <span class="inclusive__circle-border">
              <span class="inclusive__circle">
                3.
              </span>
            </span>
          </div>
          <div class="inclusive__text">
            <h4>Подготовка поверхности</h4>
            <p>(очистка, грунтование)</p>
          </div>
        </div>
        <div class="inclusive__column">
          <div class="inclusive__box">
            <span class="inclusive__circle-border">
              <span class="inclusive__circle">
                4.
              </span>
            </span>
          </div>
          <div class="inclusive__text">
            <h4>Установка маяков</h4>
          </div>
        </div>
        <div class="inclusive__column">
          <div class="inclusive__box">
            <span class="inclusive__circle-border">
              <span class="inclusive__circle">
                5.
              </span>
            </span>
          </div>
          <div class="inclusive__text">
            <h4>Оштукатуривание поверхности</h4>
          </div>
        </div>
        <div class="inclusive__column">
          <div class="inclusive__box">
            <span class="inclusive__circle-border">
              <span class="inclusive__circle">
                6.
              </span>
            </span>
          </div>
          <div class="inclusive__text">
            <h4>Удаление маяков</h4>
          </div>
        </div>
        <div class="inclusive__column">
          <div class="inclusive__box">
            <span class="inclusive__circle-border">
              <span class="inclusive__circle">
                7.
              </span>
            </span>
          </div>
          <div class="inclusive__text">
            <h4>Глянцевание:</h4>
          </div>
        </div>
        <div class="inclusive__column">
          <div class="inclusive__box">
            <span class="inclusive__circle-border">
              <span class="inclusive__circle">
                8.
              </span>
            </span>
          </div>
          <div class="inclusive__text">
            <h4>Уборка и вывоз мусора</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
