@import "../../styles.scss";

.inclusive {
  background: #fcfcfc;;

  &__title {
    h2{
      color: $icons-color;
    }
    p{
      font-size: 1.6rem;
    }
  }

  &__content {
    margin-top: 40px;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }

  &__column {
    display: flex;
    width: 25%;
    padding: 0 7.5px;
    margin-top: 50px;
  }

  &__box {
    align-self: center;
  }

  &__circle-border {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    padding: 0.3rem;
    border: 2px solid $icons-color;
    border-radius: 50%;
    text-align: center;
    line-height: 4rem;
    color: $light;
    @include bold();
    font-size: 1.9rem;
  }

  &__circle {
    display: inline-block;
    background-color: $icons-color;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  &__text {
    margin-left: 10px;
    align-self: center;
    h4{
      font-size: 1.6rem;
      @include bold();
    }
    p{
      font-size: 1.3rem;
    }
  }

}


@media screen and (max-width: 1130px){
  .inclusive {
    &__column {
      width: 33%;
    }
  }
}

@media screen and (max-width: 900px){
  .inclusive {
    &__row {
      margin: 0;
      justify-content: space-between;
    }
    &__column {
      width: 50%;
    }
  }
}

@media screen and (max-width: 600px){
  .inclusive {
    &__column {
      width: 100%;
    }
  }
}
