<div class="recommendation__ad">
  <div class="recommendation__offers" fxLayoutGap = "20px" fxLayout = "row" fxLayout.lt-sm = "column">
    <div class="recommendation__summer" fxLayout = "row" fxLayoutAlign = "start" fxLayoutAlign.lt-sm = "center">
      <div fxFlexAlign = "center">
        <h2>Summer Line</h2>
        <p>from <span>$100</span></p>
        <div class="recommendation__shop-now">
          <button>Shop Now</button>
        </div>
      </div>
    </div>
    <div class="recommendation__style" fxLayout = "row"  fxLayoutAlign = "start" fxLayoutAlign.lt-sm = "center">
      <div fxFlexAlign = "center">
        <h2>Your Style</h2>
        <p>from <span>$100</span></p>
        <div class="recommendation__shop-now">
          <button>Shop Now</button>
        </div>
      </div>
    </div>
  </div>
</div>