<div
  class="collage__images"
  fxLayout="row"
  fxLayoutGap="23px"
  fxLayoutGap.lt-lg="150px"
  fxLayoutGap.lt-md="50px"
>
  <div class="collage__frame" fxLayout="column" fxLayoutGap="20px" fxHide.lt-sm>
    <div class="collage__frame-item">
      <img src="assets/images/item/item1.png" alt="" />
    </div>
    <div class="collage__frame-item">
      <img src="assets/images/item/item2.png" alt="" />
    </div>
    <div class="collage__frame-item">
      <img src="assets/images/item/item3.png" alt="" />
    </div>
    <div class="collage__scroll-down">
      <img src="assets/images/item/icons/down-scroll.svg" alt="" />
    </div>
  </div>
  <div
    class="collage__large-img"
    fxFlex="auto"
    fxFlex.lt-lg="0 0 auto"
    fxLayoutAlign="center"
  >
    <div class="collage__scroll-left collage__arrows">
      <img src="assets/images/item/icons/left-scroll.svg" alt="" />
    </div>
    <img class = "collage__center-img" src="assets/images/item/item1.png" alt="" />
    <div class="collage__scroll-right collage__arrows">
      <img src="assets/images/item/icons/right-scroll.svg" alt="" />
    </div>
  </div>
</div>

