<div class="news">
  <div class="container">
    <div class="news-recend">
      <div class="news__title" fxLayoutAlign="center">
        <h2>Recent News</h2>
      </div>
      <div
        class="news__ads"
        fxLayout="row"
        fxLayout.lt-lg="column"
        fxLayoutGap="20px"
      >
        <div
          class="news__expanded"
          fxLayout="row"
          fxLayout.lt-sm="column"
          fxFlex="50%"
        >
          <div>
            <div class="news__soup">
              <div class="news__date" fxHide fxShow.lt-sm>
                <span>05.06.2019</span>
              </div>
            </div>
          </div>
          <div class="news__content">
            <div class="news__date" fxHide.lt-sm><span>05.06.2019</span></div>
            <div class="news__headding">
              Lancome Hydra Zen Anti- Stress Moisturusing Gel Essence
            </div>
            <div class="news__body">
              Extremely man actual you enjoy dislikes account procure rejects
              circumstances pursues master those builder is desires rejects one
              ever it. Praising — example except that in is enjoy toil fault
              itself trivial, idea desires and trivial in or obtain trivial must
              right. Enjoy pursues how that rejects us, physical, example toil,
              great know chooses teachings painful, find resultant: toil rejects
              find extremely.
            </div>
          </div>
        </div>
        <div
          class="news__sub-ad"
          fxFlex="auto"
          fxLayout="column"
          fxLayoutGap.lt-lg="20px"
          fxLayoutAlign="space-between"
        >
          <div class="news__about-set" fxLayout="row" fxLayout.lt-sm="column">
            <div>
              <div class="news__image-set">
                <div class="news__date" fxHide fxShow.lt-sm>
                  <span>05.06.2019</span>
                </div>
              </div>
            </div>
            <div class="news__content news__sub-content" fxLayout="row">
              <div fxFlexAlign="center">
                <div class="news__date" fxHide.lt-sm>
                  <span>05.06.2019</span>
                </div>
                <div class="news__headding">
                  Lancome Hydra Zen Anti- Stress Moisturusing Gel Essence
                </div>
              </div>
            </div>
          </div>
          <div class="news__arden" fxLayout="row" fxLayout.lt-sm="column">
            <div>
              <div class="news__image-arden">
                <div class="news__date" fxHide fxShow.lt-sm>
                  <span>05.06.2019</span>
                </div>
              </div>
            </div>
            <div class="news__content news__sub-content" fxLayout="row">
              <div fxFlexAlign="center">
                <div class="news__date" fxHide.lt-sm>
                  <span>05.06.2019</span>
                </div>
                <div class="news__headding">
                  Elizabeth Arden Elizabeth Arden Sunflowers
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
