<main class="header">
  <div class="container">
    <app-top-bar></app-top-bar>

    <div class="header__content">
      <div class="header__servants servants">
        <h1>автоматизированная <br> штукатурка стен</h1>
        <p class="servants__subtitle">
          Идеально ровные стены <br> в кратчайшие строки
        </p>
        <span class="servants__how-money">
          Cтоимость робот <br>
          от<strong> 300 </strong>рублей/м<sup>2</sup>
        </span>
        <strong class="servants__trigger">
          Оплата по факту!
        </strong>
      </div>
      <div class="header__form calc">
        <h2 class="calc__title">
          Для расчёта точной стоимости <br> закажите <strong>выезд замерщика</strong>
        </h2>
        <form action="#" class="calc__form action-form">
          <label for="#">Ваше имя</label>
          <input type="text" class="input">
          <label for="#">Номер телефона</label>
          <input type="text" class="input">
          <button type="submit" class="btn btn-form">Оставте заявку</button>
          <small>Подарок в день обращения</small>
        </form>
      </div>
    </div>
  </div>
</main>
