<!-- First screen -->
<app-header></app-header>
<!-- New style + Slider -->
<app-benefits></app-benefits>
<!-- Block prices -->
<app-prices></app-prices>
<!-- Feedback -->
<app-feedback></app-feedback>
<!-- Work shemes -->
<app-scheme></app-scheme>
<!-- inclusive blocks -->
<app-inclusive></app-inclusive>
<!-- No problems block -->
<app-problems></app-problems>
<!-- Materials block`s -->
<app-materials></app-materials>
<!-- Exscurs block -->
<app-exscurs></app-exscurs>
<!-- Additional services -->
<app-upsell></app-upsell>
<!-- Contacts block -->
<app-contacts></app-contacts>
<!-- Footer -->
<app-footer>
  <div class="footer__content">
    <p class="footer__phone">+7 495 771 05 08</p>
    <p>
      <a href="mailto:none@gmail.com">order@gipsolit.ru</a>
      <span> Пн-Пт: с 9.00 до 18.00</span>
    </p>
  </div>
</app-footer>
