<section class="exscurs">
  <div class="container">
    <div class="exscurs__content">
      <div class="exscurs__object">
        <div class="exscurs__see">
          <h2>Посмотрите как мы работаем</h2>
          <p>
            Хотите удостовериться в профессионализме наших сотрудников?
          </p>
          <br>
          <p>
            Вы можете сделать это, приехав на один из наших объектов, и понаблюдав за ходом работ. Увидите оборудование,
            материалы и качество исполнения.
          </p>
        </div>
        <div class="exscurs__form send">
          <h3>
            Оставьте контактные данные для связи
          </h3>
          <form action="#" class="send__form action-form">
            <label for="#">Ваше имя</label>
            <input type="text" class="main-input send__input">
            <label for="#">Номер телефона</label>
            <input type="text" class="main-input send__input">
            <button type="submit" class="btn btn-form send__button">записаться на просмотр</button>
            <small>Подберем ближайший к Вам объект</small>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
