<section class="upsell">
  <div class="container">
    <div class="upsell__additional">
      <div class="upsell__title title">
        <h2>
          Дополнительные услуги
        </h2>
        <p>
          Помимо штукатурных работ Вы можете заказать у нас следующие услуги
        </p>
      </div>
      <div class="upsell__view">
        <div class="upsell__card card">
          <div class="card__img card__img_left"></div>
          <p>Монтаж электропроводки</p>
          <button class="btn card__btn">Цены</button>
        </div>
        <div class="upsell__card card">
          <div class="card__img card__img_center"></div>
          <p>Стяжка пола</p>
          <button class="btn card__btn">Цены</button>
        </div>
        <div class="upsell__card card">
          <div class="card__img card__img_right"></div>
          <p>Сантехнические работы</p>
          <button class="btn card__btn">Цены</button>
        </div>
      </div>
    </div>
  </div>
</section>
