<section class="price">
  <div class="container">
    <div class="price__top">
      <div class="price__headding">
        <div class="price__space"></div>
        <div class="price__title title">
          <h2>Цены</h2>
          <p>
            Выберите вариант, который подходит Вам:
          </p>
        </div>
        <div class="price__calc">
          <button class="btn"> Разчитать точную стоимость</button>
        </div>
      </div>
    </div>
    <div class="price__row">
      <div class="price__column">
        <div class="column__title">
          <h4>
            Штукатурка вашим материалом
          </h4>
        </div>
        <div class="column__image">
          <img src="../../assets/images/prices/priceimg1.jpg" alt="Штукатурка вашим материалом">
        </div>
        <div class="column__price">
          от 300 руб/м<sup>2</sup>
        </div>
        <div class="column__list">
          <ul class="list__check">
            <li class="list__item">Проведение работ</li>
            <li class="list__item">Уборка</li>
          </ul>
        </div>
        <div class="column__order">
          <button class="btn">Заказать</button>
        </div>
      </div>
      <div class="price__column">
        <div class="column__title">
          <h4>
            Штукатурка под шпаклевку
          </h4>
        </div>
        <div class="column__image">
          <img src="../../assets/images/prices/priceimg2.jpg" alt="Штукатурка под шпаклевку">
        </div>
        <div class="column__price">
          от 530 руб/м<sup>2</sup>
        </div>
        <div class="column__list">
          <ul class="list__check">
            <li class="list__item">Завоз материала и его обьем</li>
            <li class="list__item">Проведение работ</li>
            <li class="list__item">Уборка</li>
            <li class="list__item">Гарантия 2 года</li>
          </ul>
        </div>
        <div class="column__order">
          <button class="btn">Заказать</button>
        </div>
      </div>
      <div class="price__column">
        <div class="column__title">
          <h4>
            Штукатурка под обои
          </h4>
        </div>
        <div class="column__image">
          <img src="../../assets/images/prices/priceimg3.jpg" alt="Штукатурка под обои">
        </div>
        <div class="column__price">
          от 560 руб/м<sup>2</sup>
        </div>
        <div class="column__list">
          <ul class="list__check">
            <li class="list__item">Завоз материала и его обьем</li>
            <li class="list__item">Проведение работ</li>
            <li class="list__item">Уборка</li>
            <li class="list__item">Гарантия 2 года</li>
            <li class="list__item">Можно сразу клеить обои</li>
          </ul>
        </div>
        <div class="column__order">
          <button class="btn">Заказать</button>
        </div>
      </div>
    </div>
  </div>
</section>
