<section class="scheme">
  <div class="container">
    <div class="scheme__box">
      <div class="scheme__title title">
        <h2>Схема роботы</h2>
        <p>Работа над вашим обьектом будет включать в себя следующие этапы:</p>
      </div>
      <div class="scheme__body">
        <div class="scheme__row">
          <div class="scheme__column">
            <!-- <img src="../../assets/images/sheme/1.png" alt="Заявка"> -->
            <div class="scheme__image scheme__image_one"></div>
            <h3>Заявка</h3>
            <p>Оставляете онлайн заявку или звоните <span> +7 495 771 05 08</span></p>
          </div>
          <div class="scheme__column">
            <!-- <img src="../../assets/images/sheme/2.png" alt="Выезд специалиста"> -->
            <div class="scheme__image scheme__image_two"></div>
            <h3>Выезд специалиста</h3>
            <p>В течение 1 рабочего дня к Вам приезжает специалист, который выполнит замеры для точной стоимости работ
            </p>
          </div>
          <div class="scheme__column">
            <!-- <img src="../../assets/images/sheme/3.png" alt="Составление договор"> -->
            <div class="scheme__image scheme__image_three"></div>
            <h3>Составление договора</h3>
            <p>Готовим договор и согласовываем с Вами</p>
          </div>
          <div class="scheme__column">
            <!-- <img src="../../assets/images/sheme/4.png" alt="Начало работ"> -->
            <div class="scheme__image scheme__image_four"></div>
            <h3>Начало работ</h3>
            <p>Доставляем материалы, оборудование, подписываем договор и начинаем работы</p>
          </div>
          <div class="scheme__column">
            <!-- <img src="../../assets/images/sheme/5.png" alt="scheme__column"> -->
            <div class="scheme__image scheme__image_five"></div>
            <h3>Завершение работ</h3>
            <p>После окончания работ Вы проверяете качество и подписываете акт сдачи, производите оплату.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
