<div class="advantages" fxHide.lt-sm>
  <div class="container">
    <div class="advantages__row" fxLayout="row" fxLayoutAlign="space-between">
      <div 
        class="advantages__item" 
        fxLayout="row" 
        fxFlex.lt-md = "auto"
        >
        <img src="/assets/images/header/advantages/drive.png" alt="" fxFlexAlign = "center"/>
        <div fxFlexAlign="center">Worldwide Shipping</div>
      </div>
      <div 
        class="advantages__item advantages__item_shipping" 
        fxFlex.lt-md = "auto" 
        fxLayoutAlign.lt-md="center"
        >
        <div fxLayout="row" >
          <img src="/assets/images/header/advantages/money.png" alt="" fxFlexAlign = "center"/>
          <div fxFlexAlign="center">Guaranteed Return</div>
        </div>
      </div>
      <div 
        class="advantages__item"  
        fxFlex.lt-md = "auto"  
        fxLayoutAlign = "start" 
        fxLayoutAlign.lt-md="end" 
        fxLayout="row"
      >
        <img src="/assets/images/header/advantages/support.png" alt="" fxFlexAlign = "center"/>
        <div fxFlexAlign="center">Fast Support Team</div>
      </div>
      <div 
        class="advantages__item" 
        fxLayout="row" 
        fxHide.lt-lg
      >
        <img src="/assets/images/header/advantages/best.png" alt="" fxFlexAlign = "center"/>
        <div fxFlexAlign="center">Best Quality Items</div>
      </div>
      <div 
        class="advantages__item" 
        fxLayout="row" 
        fxHide.lt-md
      >
        <img src="/assets/images/header/advantages/discount.png" alt="" fxFlexAlign = "center"/>
        <div fxFlexAlign="center">Discount Programm</div>
      </div>
    </div>
  </div>
</div>
