<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Header</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates,
      incidunt cum alias facilis corporis vitae ratione asperiores.
      Necessitatibus nostrum iste consequuntur ea, explicabo doloribus a velit
      doloremque quam adipisci dolor dolore tempore natus voluptatum nesciunt
      fugiat expedita perferendis aperiam cum accusantium unde praesentium animi
      saepe sint. Quisquam qui corrupti dolorem enim dolor commodi numquam
      sapiente aliquid tenetur mollitia, dolores magni amet. Modi excepturi
      autem dicta velit. Praesentium reiciendis quam neque sunt ducimus cumque.
      Ipsam magni consectetur nesciunt nobis labore qui dicta fugiat blanditiis
      sapiente laboriosam ab iusto aliquid repellendus deleniti assumenda quam,
      fugit natus exercitationem doloremque. Minus eius natus in.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum nihil
      exercitationem dolores illum sed esse nesciunt quasi neque consequuntur
      libero, aspernatur sequi eveniet nobis unde corporis! Accusantium, numquam
      laboriosam. Tenetur, debitis commodi nobis beatae nostrum alias maxime
      asperiores adipisci accusamus laudantium vitae recusandae, praesentium
      soluta odit id earum, repudiandae cupiditate.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum nihil
      exercitationem dolores illum sed esse nesciunt quasi neque consequuntur
      libero, aspernatur sequi eveniet nobis unde corporis! Accusantium, numquam
      laboriosam. Tenetur, debitis commodi nobis beatae nostrum alias maxime
      asperiores adipisci accusamus laudantium vitae recusandae, praesentium
      soluta odit id earum, repudiandae cupiditate.
    </p>
    <div class="btn">
      <a href="#">Reference</a>
    </div>

    <div class="box"></div>
    <div class="box2"></div>
  </body>
</html>
