<section class="problems">
  <div class="container">
    <div class="problems__title title">
      <h2>Мы развеем все опасения</h2>
    </div>
    <div class="problems__body">
      <div class="problems__row">
        <div class="problems__column problems__column_bad column">
          <h4 class="column__headding">
            Какие могут быть проблемы:
          </h4>
          <ul class="column__list">
            <li>Стены и углы будут неровными</li>
            <li>Ремонт затянется на долгие месяцы</li>
            <li>Сложности с доставкой и разгрузкой метериалов</li>
            <li>Останется мусор и пыль после работ</li>
          </ul>
        </div>
        <div class="problems__column problems__column_good column">
          <h4 class="column__headding">
            Наше решение:
          </h4>
          <ul class="column__list">
            <li>Высокая квалификация специалистов + минимум 5 летний опыт работы = идеально ровные
              поверхности</li>
            <li>Соблюдаем сроки, котоыре прописаны в договоре. На квартиру площадью 135 м<sup>2</sup> уходит от 3 до 5
              дней</li>
            <li>Доставка материала и подъем бесплатно</li>
            <li>Убираем и вывозим мусор после работ</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <img src="../../assets/images/problems/woman.png" alt="" class="problems__woman">
</section>
