<div class="advertising">
  <div class="container">
    <div
      class="advertising__content"
      fxLayout="row"
      fxLayout.lt-lg="column"
      fxLayoutAlign="space-between"
      fxLayoutGap="20px"
    >
      <div>
        <div
          class="advertising__header-ad"
          fxLayoutAlign="row"
          fxLayoutAlign="start"
          fxLayoutAlign.lt-sm="center"
        >
          <div class="advertising__description" fxFlexAlign="center">
            <h2>
              Meet The New <br />
              Collection
            </h2>
            <p>Lipstick from <span>$250</span></p>
            <button>Shop Now</button>
          </div>
        </div>
      </div>
      <div
        class="advertising__other-ad"
        fxFlex="auto"
        fxLayout="column"
        fxLayout.lt-lg="row"
        fxLayout.lt-md="column"
        fxLayoutGap.lt-lg="20px"
        fxLayoutAlign="space-between"
      >
        <div
          class="advertising__gentle-ad"
          fxLayout="row"
          fxLayoutAlign="start"
          fxLayoutAlign.lt-sm="center"
        >
          <div class="advertising__brushes" fxFlexAlign="center">
            <h2>Gentle Brushes</h2>
            <p>
              from <span class="brushes__old-price"> $185 </span>
              <span class="brushes__new-price"> $100 </span>
            </p>
            <button>Shop Now</button>
          </div>
        </div>
        <div
          class="advertising__cream-ad"
          fxLayoutAlign="row"
          fxLayoutAlign="start"
          fxLayoutAlign.lt-sm="center"
        >
          <div class="advertising__cream-content" fxFlexAlign="center">
            <h2>Cream of Life</h2>
            <button>Shop Now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
