*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

body{
    color: #cdcdcd;
    font-family: sans-serif;
    background: #302f32;
}
