<div class="feedback__send">
  <div class="feedback__form">
    <form class="feedback__statement action-form">
      <h3>Хотите так же? Остатьте Ваши контактные данные</h3>
      <div class="feedback__input">
        <div class="feedback__row-form">
          <label for="#">Ваше имя</label>
          <input type="text">
        </div>
        <div class="feedback__row-form">
          <label for="#">Номер телефона</label>
          <input type="text" class="main-input">
        </div>
      </div>
      <button type="submit" class="btn btn-form feedback__btn">Оставте заявку</button>
    </form>
  </div>
</div>
