<div class="section container">
  <h1 class="headding">
    <span>Получите видео-инструкцию</span>
    <strong>как заработать свой первый миллион</strong>
  </h1>

  <div class="main">
    <div class="video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/ayVLjyWqMCs?controls=0" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="form">
      <p class="form-header">Введите свой email</p>
      <form action="#">
        <input type="text" placeholder="Ваше имя" />
        <input type="text" placeholder="Ваш email" />
        <button class="btn">Получить инструкцию</button>
      </form>
    </div>
  </div>
</div>

<div class="section container">
  <h2 class="feature-header">Почему нужно сделать это сейчас?</h2>
  <div class="feature">
    <div class="col1">
      <img src="../../assets/images/bell.png" alt=">Первое преимущество" />
      <p>
        Первое <br />
        преимущество
      </p>
    </div>
    <div class="col1">
      <img src="../../assets/images/bug.png" alt=">Первое преимущество" />
      <p>
        Второе <br />
        преимущество
      </p>
    </div>
    <div class="col1">
      <img src="../../assets/images/camera.png" alt=">Третье преимущество" />
      <p>
        Третье <br />
        преимущество
      </p>
    </div>
    <div class="col1">
      <img src="../../assets/images/storm.png" alt="Четвертое преимущество" />
      <p>
        Четвертое <br />
        преимущество
      </p>
    </div>
  </div>
  <button class="btn">Получить инструкцию</button>
</div>
