@font-face {
  font-family: "Roboto Slab Regular";
  src: url("../fonts/RobotoSlabRegular.eot");
  src: url("../fonts/RobotoSlabRegular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/RobotoSlabRegular.woff2") format("woff2"),
    url("../fonts/RobotoSlabRegular.woff") format("woff"),
    url("../fonts/RobotoSlabRegular.ttf") format("truetype"),
    url("../fonts/RobotoSlabRegular.svg#RobotoSlabRegular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Slab Light";
  src: url("../fonts/RobotoSlabLight.eot");
  src: url("../fonts/RobotoSlabLight.eot?#iefix") format("embedded-opentype"),
    url("../fonts/RobotoSlabLight.woff2") format("woff2"),
    url("../fonts/RobotoSlabLight.woff") format("woff"),
    url("../fonts/RobotoSlabLight.ttf") format("truetype"),
    url("../fonts/RobotoSlabLight.svg#RobotoSlabLight") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Bold";
  src: url("../fonts/RobotoBold.eot");
  src: url("../fonts/RobotoBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/RobotoBold.woff2") format("woff2"),
    url("../fonts/RobotoBold.woff") format("woff"),
    url("../fonts/RobotoBold.ttf") format("truetype"),
    url("../fonts/RobotoBold.svg#RobotoBold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Slab Bold";
  src: url("../fonts/RobotoSlabBold.eot");
  src: url("../fonts/RobotoSlabBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/RobotoSlabBold.woff2") format("woff2"),
    url("../fonts/RobotoSlabBold.woff") format("woff"),
    url("../fonts/RobotoSlabBold.ttf") format("truetype"),
    url("../fonts/RobotoSlabBold.svg#RobotoSlabBold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Regular";
  src: url("../fonts/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/RobotoRegular.woff2") format("woff2"),
    url("../fonts/RobotoRegular.woff") format("woff"),
    url("../fonts/RobotoRegular.ttf") format("truetype"),
    url("../fonts/RobotoRegular.svg#RobotoRegular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
