<h1>Контейнери побудовані з використанням "pixel perfect"</h1>

<div class="container-without-bootstrap">
  <div class="header"></div>
  <div class="menu"></div>
  <div class="content"></div>
</div>


<h1>Контейнери побудовані на відсотковому співвідношенні</h1>

<div class="container-without-bootstrap1">
  <div class="header1"></div>
  <div class="menu1"></div>
  <div class="content1"></div>
</div>

<h1>Контейнери побудовані з використанням media-запитів (320px-600px)</h1>

<div class="container-without-bootstrap2">
  <div class="header2"></div>
  <div class="menu2"></div>
  <div class="content2"></div>
</div>
